<html>

<head>
    <%- include('./layout/head'); %>
</head>

<body>

    <%- include('./layout/header'); %>

        <main role="main">

            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3"> TQT Store!</h1>
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <h2>Shop</h2>
                        <li>24/7 customer service</li>
                        <li>Multiple payment methods</li>
                        <p><a class="btn btn-secondary" href="#" role="button">Order »</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Manager</h2>
                        <p></p>
                        <p><a class="btn btn-secondary" href="#" role="button">Manage »</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Director</h2>
                        <p></p>
                        <p><a class="btn btn-secondary" href="#" role="button">View reports »</a></p>
                    </div>
                </div>

                <hr>

            </div>
        </main>
        <footer>
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Business Time</h3>
                                <ul class="list-time">
                                    <li>Monday - Friday: 08.00am to 05.00pm</li>
                                    <li>Saturday: 10.00am to 08.00pm</li>
                                    <li>Sunday: <span>Closed</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Newsletter</h3>
                                <form class="newsletter-box">
                                    <div class="form-group">
                                        <input class="" type="email" name="Email" placeholder="Email Address*" />
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <button class="btn hvr-hover" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Social Media</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <ul>
                                    <li>
                                        <p>FaceBook : <a href="https://www.facebook.com/groups/1045500845830818/?ref=share"> QuocThang</a></p>
                                    </li>
                                    <li>
                                        <p>Instagram : <a href="https://www.instagram.com/chanhh_iichii/?hl=en	"> QuocThanqq_._</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Contact Us</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: 201/10 Nam Hoa <br> Phuong Phuoc Long A,<br> District 9 Ho Chi Minh City </p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+84367278902">+84367278902</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:QuocThangGCS18043@gmail.com">QuocThangGCS18043@gmail.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </footer>
        <div class="footer-copyright">
            <p class="footer-company">All Rights Reserved. &copy; 2020 <a href="#">TQT Store</a> Design By :
                <a href="https://www.facebook.com/min.tran.58555"> QuocThang</a></p>
        </div>
</body>

</html>