<html>

<head>
    <%- include('./layout/head'); %>
</head>

<body>

    <%- include('./layout/header'); %>

        <main role="main">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-3"> TQT GearVN !</h1>
                    <p>TQT GearVN is a Vietnamese company which is selling toys to teenagers in many provinces all over Vietnam. The company has the revenue over 500.000 dollars/year. Currently each shop has its own database to store transactions for that
                        shop only. Each shop has to send the sale data to the board director monthly and the board director need lots of time to summarize the data collected from all the shops. Besides the board can’t see the stock information update
                        in real time.</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Read more »</a></p>
                </div>
            </div>

            <div class="container">
                <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-4">
                        <h2>Shop</h2>
                        <li>24/7 customer service</li>
                        <li>Multiple payment methods</li>
                        <p><a class="btn btn-secondary" href="#" role="button">Order »</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Manager</h2>
                        <p></p>
                        <p><a class="btn btn-secondary" href="#" role="button">Manage »</a></p>
                    </div>
                    <div class="col-md-4">
                        <h2>Director</h2>
                        <p></p>
                        <p><a class="btn btn-secondary" href="#" role="button">View reports »</a></p>
                    </div>
                </div>

                <hr>

            </div>
            <!-- /container -->

        </main>



</body>

</html>