<html>

<head>
    <%- include('./layout/head'); %>
</head>

<body>

    <%- include('./layout/header'); %>
        <main role="main">
            <div class="container">
                <div class="jumbotron">
                    <div class="container">

                        <img src="/images/logo.jpg" />

                        <h1 class="display-3">Login</h1>
                        <form action="" method="GET">
                            <div class="form-group">
                                <label for="username">Email address</label>
                                <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

        </main>

</body>

</html>